.EducationSection {
  width: 86%;
  margin-top: 2%;
  margin-left: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  height: auto;
}

.EducationItem {
  background: white;
  color: black;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 12px rgb(166 166 166 / 33%);
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
  /* border: 1px solid #ffffff5e; */
  width: 47%;
  height: 36vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: justify;
}

.topSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
}

.topSection div {
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topSection div p {
  margin: 0;
}

.topSection div p:nth-child(1){
  font-weight: 600;
  font-size: 1.2rem;
}
.topSection div p:nth-child(2){
  font-weight: 600;
  font-size: 1.2rem;
}
.topSection div p:nth-child(3){
  font-weight: 500;
  font-size: 1.1rem;
}
.topSection div p:nth-child(4){
  font-weight: 500;
  font-size: 1.1rem;
}
.topSection div p:nth-child(5){
  font-weight: 400;
  font-size: 1rem;
}